[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-gnupg"]
	path = vim/bundle/vim-gnupg
	url = git://github.com/jamessan/vim-gnupg.git
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
[submodule "vim/bundle/vim-css3-syntax"]
	path = vim/bundle/vim-css3-syntax
	url = git://github.com/hail2u/vim-css3-syntax.git
[submodule "vim/bundle/html5.vim"]
	path = vim/bundle/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-css-color"]
	path = vim/bundle/vim-css-color
	url = git://github.com/ap/vim-css-color.git
[submodule "vim/bundle/Vim-Jinja2-Syntax"]
	path = vim/bundle/Vim-Jinja2-Syntax
	url = git://github.com/Glench/Vim-Jinja2-Syntax.git
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "vim/bundle/vim-ruby"]
	path = vim/bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/bundle/phpfolding.vim"]
	path = vim/bundle/phpfolding.vim
	url = git://github.com/vim-scripts/phpfolding.vim.git
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "vim/bundle/nginx.vim"]
	path = vim/bundle/nginx.vim
	url = git://github.com/vim-scripts/nginx.vim.git
[submodule "vim/bundle/vim-trailing-whitespace"]
	path = vim/bundle/vim-trailing-whitespace
	url = git://github.com/bronson/vim-trailing-whitespace.git
[submodule "vim/bundle/vim-virtualenv"]
	path = vim/bundle/vim-virtualenv
	url = git://github.com/jmcantrell/vim-virtualenv.git
[submodule "vim/bundle/vim-ipython"]
	path = vim/bundle/vim-ipython
	url = git://github.com/ivanov/vim-ipython.git
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-ruby-refactoring"]
	path = vim/bundle/vim-ruby-refactoring
	url = git://github.com/ecomba/vim-ruby-refactoring
[submodule "special/pycomplexity"]
	path = special/pycomplexity
	url = https://github.com/garybernhardt/pycomplexity.git
[submodule "vim/bundle/vim-sensible"]
	path = vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule "vim/bundle/vim-bundler"]
	path = vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule "vim/bundle/hardmode"]
	path = vim/bundle/hardmode
	url = git://github.com/wikitopian/hardmode.git
[submodule "vim/bundle/vim-flog"]
	path = vim/bundle/vim-flog
	url = git://github.com/malept/vim-flog.git
[submodule "vim/bundle/SyntaxComplete"]
	path = vim/bundle/SyntaxComplete
	url = git://github.com/vim-scripts/SyntaxComplete.git
[submodule "vim/bundle/javascript-libraries-syntax.vim"]
	path = vim/bundle/javascript-libraries-syntax.vim
	url = git://github.com/othree/javascript-libraries-syntax.vim.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/riv.vim"]
	path = vim/bundle/riv.vim
	url = git://github.com/Rykka/riv.vim.git
[submodule "vim/bundle/gtk-vim-syntax"]
	path = vim/bundle/gtk-vim-syntax
	url = git://github.com/vim-scripts/gtk-vim-syntax.git
[submodule "vim/bundle/vim-vala"]
	path = vim/bundle/vim-vala
	url = git://github.com/tkztmk/vim-vala.git
[submodule "vim/bundle/salt-vim"]
	path = vim/bundle/salt-vim
	url = git://github.com/saltstack/salt-vim.git
[submodule "vim/bundle/ag.vim"]
	path = vim/bundle/ag.vim
	url = git://github.com/rking/ag.vim.git
[submodule "vim/bundle/underscore-templates.vim"]
	path = vim/bundle/underscore-templates.vim
	url = git://github.com/malept/underscore-templates.vim.git
[submodule "vim/bundle/vim-wordy"]
	path = vim/bundle/vim-wordy
	url = git://github.com/reedes/vim-wordy.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/vim-rvm"]
	path = vim/bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "vim/bundle/vim-dispatch"]
	path = vim/bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/vim-turbux"]
	path = vim/bundle/vim-turbux
	url = https://github.com/jgdavey/vim-turbux.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-vinegar"]
	path = vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule "vim/bundle/muzzl.vim"]
	path = vim/bundle/muzzl.vim
	url = https://github.com/malept/muzzl.vim.git
[submodule "vim/bundle/Recover.vim"]
	path = vim/bundle/Recover.vim
	url = https://github.com/chrisbra/Recover.vim.git
[submodule "vim/bundle/vim-niceblock"]
	path = vim/bundle/vim-niceblock
	url = https://github.com/kana/vim-niceblock.git
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "vim/bundle/vim-projectionist"]
	path = vim/bundle/vim-projectionist
	url = https://github.com/tpope/vim-projectionist.git
[submodule "vim/bundle/rust.vim"]
	path = vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim
[submodule "vim/bundle/vim-toml"]
	path = vim/bundle/vim-toml
	url = https://github.com/cespare/vim-toml
