[tasks.fmt]
description = "Format repository files"
depends = ["fmt:*"]

[tasks."fmt:stylua"]
tools.stylua = "latest"
description = "Format lua files"
run = "stylua ."
sources = ["**/*.lua"]

[tasks."fmt:taplo"]
tools.taplo = "latest"
description = "Format toml files"
run = "taplo format **/*.toml"
sources = ["**/*.toml"]

[tasks.lint]
description = "Lint repository files"
depends = ["lint:*"]

[tasks."lint:luacheck"]
# luacheck is not installable via mise
description = "Lint lua files with luacheck"
run = "luacheck ."
sources = ["**/*.lua"]

[tasks."lint:shellcheck"]
description = "Lint shell files with shellcheck"
run = "shellcheck ./*.sh"
sources = ["**/*.sh"]

[tasks."lint:stylua"]
tools.stylua = "latest"
description = "Check formatting of lua files with stylua"
run = "stylua --check ."
sources = ["**/*.lua"]

[tasks."lint:taplo"]
tools.taplo = "latest"
description = "Lints TOML files with Taplo"
run = "taplo lint"

[tasks."lint:taplo-format"]
tools.taplo = "latest"
description = "Checks if TOML files are formatted correctly"
run = "taplo format --check --diff"
